// TOOLBOX COLORS
//---------------------------------------------------------------------
$almost-white: #FDFDFD;
$almost-black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------
$white: #FFF;
$black: #212121;
$gray: #727272;

// material colors, to create new palette check out: http://www.materialpalette.com/

$green: #4CAF50;
$lightgreen: #C8E6C9;
$darkgreen: #388E3C;

$red: rgb(17, 17, 17);

//------------INDIGO----------------

$indigo: #8c1515;
$darkindigo: #630a0a;
$lightindigo: #974242;

$pink: rgb(13, 14, 13);
$indigo_text: rgb(13, 14, 13);

//----------------------------

$teal: #009688;
$darkteal: #00796B;
$lightteal: #B2DFDB;
// This
$amber: rgb(226, 10, 10);

//----------------------------

$brown: #795548;
$darkbrown: #5D4037;
$lightbrown: #D7CCC8;

$purple: rgb(15, 15, 15);