// TOOLBOX COLORS
//---------------------------------------------------------------------
$almost-white: #FDFDFD;
$almost-black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------
$white: #FFF;
$black: #212121;
$gray: #727272;

// material colors, to create new palette check out: http://www.materialpalette.com/

$green: #4CAF50;
$lightgreen: #C8E6C9;
$darkgreen: #388E3C;

$red: rgb(17, 17, 17);

//------------INDIGO----------------

$indigo: #8c1515; //top_bar
$darkindigo: #630a0a; //bottom_bar
$lightindigo: #974242; 

$pink: rgb(95, 95, 95);

//-----------BLACK and RED-----------------

$teal: #262b2a;
$darkteal: rgb(0, 0, 0);
$lightteal: rgb(145, 150, 149);
// This
$amber: rgb(199, 17, 17);

//----------------------------

$brown: #795548;
$darkbrown: #5D4037;
$lightbrown: #D7CCC8;

$purple: rgb(15, 15, 15);