// indigo & pink
$dark-primary-color: $darkteal;
$primary-color: $teal;
$light-primary-color: $lightteal;
$accent-color: $amber;


// Gates Blue : #0049fb

// // WAS vikassri default color (Stanford type)
// $dark-primary-color: $darkindigo;
// $primary-color: $indigo;
// $light-primary-color: $lightindigo;
// $accent-color: $pink;
// ----


// //NOW 
// $teal: #24292e;
// $darkteal: rgb(0, 0, 0);
// $lightteal:#24292e;
// $amber: rgb(165, 160, 160);

